<form action="/users/administration/edit/{{user._id}}" method="post">
    <input type="text" name="email" placeholder="E-mail" required="" value="{{user.email}}">
    <input type="text" name="username" placeholder="Username" required="" value="{{user.username}}">
    <input type="password" name="password" placeholder="Password">
    <input type="checkbox" {{#if user.isAdmin }} checked {{/if}} name="isAdmin">
    <label for="isAdmin" > administrator</label>
    <input type="submit" value="UPDATE USER">
</form>