<div class="container">
    <div class="login_alert alert alert-danger" role="alert">
        <h1>{{message}} <br> Status: {{error.status}}</h1>
    </div>
    <a href="/">Pojdi domov</a>
    {{!-- <pre>{{error.stack}}</pre> --}}
</div>
