<h1>Spremeni podatke</h1>
<form action="edit" method="post">
    <input type="text" name="email" placeholder="E-mail">
    <input type="password" name="password" placeholder="Geslo">
    <div class="tp">
        <input type="submit" value="Spremeni">
    </div>
</form>