<h2>Zgodovina dostopov</h2>
<hr>
{{#each accesses}}
    <p>
        Dostopal : {{user_id.username}} <br>
        Lokacija: {{mailbox_id.location}} <br>
        Dostopan: {{date}}</p>
    <hr>
{{/each}}