<div class="container">
    <h2>Zgodovina dostopov</h2>
    <hr>
    {{#each accesses}}
        <p>
            <span  class="gray_text">Dostopal: </span>{{user_id.username}} <br>
            <span  class="gray_text">Lokacija: </span>{{mailbox_id.location}} <br>
            <span  class="gray_text">Dostopan: </span>{{date}}</p>
        <hr>
    {{/each}}
</div>

