<form action="/users/myMailboxes/edit/{{mailbox._id}}" method="post">
    <label for="location">Lokacija paketnika</label>
    <input type="text" name="location" placeholder="Lokacija" value="{{mailbox.location}}" required="">
    <br>
    <br>
    <input class="btn btn-primary btn-md " type="submit" value="Uredi">
</form>