<div class="container">
    <h2>Profil</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Ime</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {{username}}
            </td>
            <td>
                {{email}}
            </td>
        </tr>
        </tbody>
    </table>
    <a href="edit?id={{_id}}" class="btn btn-primary btn-md " role="button" aria-pressed="true">Spremeni podatke</a>

</div>
