body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container{
  margin: 2%;
  padding: 2%;
  padding-left: 3% !important;
  padding-right: 3% !important;
  background: ghostwhite;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12),
  0 2px 2px rgba(0,0,0,0.12),
  0 4px 4px rgba(0,0,0,0.12),
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
  border-radius: 25px;
  font-size: 1.5em;
}

.login_alert{
  font-size: 0.7em;
  margin: 2%;
  width: max-content;
  position: absolute;
}

.navbar{
  padding-left: 7% !important;
  padding-right: 7% !important;
}

.gray_text{
  color: gray;
}

/*
a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}*/